In [28]:
import mysql

In [29]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='arblet',
                                         user='root',
                                         password='')

    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  5.7.27-0ubuntu0.18.04.1
You're connected to database:  ('arblet',)

In [30]:
cursor = connection.cursor()

In [32]:
train = """
CREATE TABLE train ( 
building_id INTEGER PRIMARY KEY, 
meter INTEGER, 
timestamp DATETIME, 
meter_reading FLOAT
);"""

test = """
CREATE TABLE test ( 
building_id INTEGER PRIMARY KEY, 
meter INTEGER, 
timestamp DATETIME, 
meter_reading FLOAT
);"""

In [33]:
cursor.execute(sql_command)

In [31]:
sql_command = "DROP TABLE Laptop;"
cursor.execute(sql_command)

In [ ]:
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")