In [1]:
!pwd

/home/abhijeet/abhijeet/tutorial/Kaggle/ashrae-energy-prediction/src

In [15]:
import os
os.chdir('/home/abhijeet/abhijeet/tutorial/Kaggle/ashrae-energy-prediction/')

In [16]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

In [21]:
train = pd.read_csv('data/raw/train.csv')
weatherTrain = pd.read_csv('data/raw/weather_train.csv')
buildingMetadata = pd.read_csv('data/raw/building_metadata.csv')

# test = pd.read_csv('data/raw/test.csv')
# weatherTest = pd.read_csv('data/raw/weather_test.csv')

In [22]:
train = train.merge(buildingMetadata, left_on = "building_id", right_on = "building_id", how = "left")
train = train.merge(weatherTrain, left_on = ["site_id", "timestamp"], right_on = ["site_id", "timestamp"], how = 'left')
del weatherTrain

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 6 columns):
site_id        1449 non-null int64
building_id    1449 non-null int64
primary_use    1449 non-null object
square_feet    1449 non-null int64
year_built     675 non-null float64
floor_count    355 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 68.0+ KB

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20125605 entries, 0 to 20125604
Data columns (total 16 columns):
building_id           int64
meter                 int64
timestamp             object
meter_reading         float64
site_id               int64
primary_use           object
square_feet           int64
year_built            float64
floor_count           float64
air_temperature       float64
cloud_coverage        float64
dew_temperature       float64
precip_depth_1_hr     float64
sea_level_pressure    float64
wind_direction        float64
wind_speed            float64
dtypes: float64(10), int64(4), object(2)
memory usage: 2.5+ GB

In [ ]:
_dataframes = [train, test, weatherTest, weatherTrain, buildingMetadata]

In [ ]:
for dataframe in _dataframes:
    print('----------------------------')
    print(dataframe.columns)

In [4]:
trainv1.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count
0,0,0,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN
1,1,0,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN
2,2,0,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN
3,3,0,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN
4,4,0,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN

In [ ]:
type(train['meter_reading'][0])

In [ ]:
test.head()

### Joining dataframes
________________________________


        
| Primary dataframe      | Secondary Dataframe | Joining columns     |    Final dataframe  |
| :---        |    :----:              |          ---: | ---:  |
| train       | buildingMetadata       | building_id  | trainv1  | 
| test        | buildingMetadata       | building_id  | trainv2 |

In [ ]:
trainv1 = train.join(buildingMetadata.set_index('building_id'), on='building_id')
testv1 = test.join(buildingMetadata.set_index('building_id'), on='building_id')

# # Checking if the joining have happend 

assert len(train) == len(trainv1)
assert len(test) == len(testv1)

In [ ]:
trainv1.head()

In [ ]:
trainv1.to_csv('data/processed/trainv1.csv', index = None)
testv1.to_csv('data/processed/testv1.csv', index = None)

In [ ]:
t = np.unique(trainv1['floor_count'])

In [5]:
trainv2 = trainv1.join(weatherTrain.set_index(['site_id', 'timestamp']), on= ['site_id', 'timestamp'])
testv2 = testv1.join(weatherTest.set_index(['site_id', 'timestamp']), on = ['site_id', 'timestamp'])

# # Checking if the joining have happend via assertion error!

assert len(trainv1) == len(trainv2)
assert len(testv1) == len(testv2)

In [ ]:
trainv2 = pd.merge(trainv1, weatherTrain,  how='left', left_on=['site_id', 'timestamp'], right_on = ['site_id', 'timestamp'])

In [9]:
trainv2.to_csv('data/processed/trainv2.csv', index = None)
testv2.to_csv('data/processed/testv2.csv', index = None)